
<div>
     <form 
     [formGroup]="preguntasform" (ngSubmit)="guardarDatos()">
         <div class="mb-3">
            <input class="controls" type="text" formControlName="Nombre" name="nombre 1" id="nombre1" placeholder="Ingrese primer nombre" >
            <div class="text-danger"
            *ngIf="preguntasform.get('Nombre')?.hasError('required')">
               <span>campo<strong> obligatorio</strong></span>
            </div>
         </div>
         <div class="mb-3">
            <input class="controls" type="text" formControlName="Apellido" name="apellido1" id="apellido1" placeholder="Ingrese  primer apellido" >
         </div>
         <div class="mb-3">
            <input class="controls" type="number" formControlName="Celular" name="celular" id="celular" placeholder="Ingrese celular" >
         </div> 
         <div class="mb-3">
            <input class="controls" type="text" formControlName="Correo" name="correo" id="correo" placeholder="Ingrese correo electronico"> 
         </div>
         <div class="mb-3">
            <input class="controls" type="number" formControlName="Cedula" name="nomcedula" id="cedula" placeholder="Ingrese  cédula" >   
         </div>
         <div class="mb-3">
            <input class="controls" type="text" formControlName="Direccion" name="direccion" id="direccion" placeholder="Ingrese  dirección">
         </div>
         <div class="mb-3">
            <input class="controls" type="text"formControlName="Municipio" name="municiopio" id="municipio" placeholder="Ingrese el municipio" >
         </div>
        <div class="mb-3">
         <input class="controls" type="text" formControlName="Departamento" name="departamento" id="departamento" placeholder="Ingrese el departamento donde vive" >
        </div>   
        <div class="mb-3">
         <input class="controls" type="text" formControlName="Barrio" name="barrio" id="barrio" placeholder="Ingrese el barrio donde vive" >
        </div>  
        <div class="mb-3">Nivel de escolaridad:<br>
         primaria <input class="escolaridad" type="radio" formControlName="Escolaridad" name="Escolaridad" id="escolaridad" value="primaria">
         Bachillerato<input class="escolaridad" type="radio" formControlName="Escolaridad" name="Escolaridad" id="escolaridad" value="Bachillerato">
         Tecnologico<input class="general" type="radio" formControlName="Escolaridad" name="Escolaridad" id="escolaridad" value="Tecnologico">
         Universitario <input class="general" type="radio" formControlName="Escolaridad" name="Escolaridad" id="escolaridad" value="Universitario">
         Ninguno<input class="general" type="radio" formControlName="Escolaridad" name="Escolaridad" id="escolaridad" value="Ninguno">
        </div>  
        <div class="mb-3">Año de construccion de la vivienda<br>
         Antes de 1963 <input type="radio" type="radio" formControlName="ConstruccionVivienda" name="ConstruccionVivienda" value=" Antes de 1963">   <br>
         Entre 1963 Y 1984<input type="radio" type="radio" formControlName="ConstruccionVivienda" name="ConstruccionVivienda" value="Entre 1963 Y 1984"> <br>
         Entre 1985 Y 1997<input type="radio" type="radio" formControlName="ConstruccionVivienda" name="ConstruccionVivienda" value=" Entre 1985 Y 1997">  <br>
         Entre 1998 Y 2010<input type="radio" type="radio" formControlName="ConstruccionVivienda" name="ConstruccionVivienda" value=" Entre 1998 Y 2010">   <br>
         Después del 2011<input type="radio" type="radio" formControlName="ConstruccionVivienda" name="ConstruccionVivienda" value="Después del 2011">  <br>
        </div>
        <div>Constructora:
         <input formControlName="Constructora" type="text" name="nombre 1" id="nombre1" placeholder="¿Que Constructora?">
        </div>
        <h1> Exterior De La Vivienda </h1> 
        <p>Las siguientes preguntas se deberán realizar por fuera de la vivienda para  poder observar las características de las preguntas </p>
        <br>
        <p>  Área de la vivienda (Frente X Fondo) </p><br>
        <div>
         <input type="radio" name="AreaFrente" formControlName="AreaFrente" value="20 a 30 Metros cuadrados">20 a 30 Metros cuadrados<br>
         <input type="radio" name="AreaFrente"  formControlName="AreaFrente" value="31 a 40 Metros cuadrados">31 a 40 Metros cuadrados<br>
         <input type="radio" name="AreaFrente"  formControlName="AreaFrente" value="41 a 60 Metros cuadrados">41 a 60 Metros cuadrados<br>
         <input type="radio" name="AreaFrente"  formControlName="AreaFrente" value="61 a 70 Metros cuadrados">61 a 70 Metros cuadrados<br>
         <input type="radio" name="AreaFrente" formControlName="AreaFrente" value="71 a 80 Metros cuadrados">71 a 80 Metros cuadrados<br>        
         <input type="radio" name="AreaFrente" formControlName="AreaFrente" value="81 a 90 Metros cuadrados">81 a 90 Metros cuadrados<br>
         </div>
        <br>
    <br>
    <p>  Imagen del frente de la vivienda donde se pueda ver su vivienda y las viviendas cercanas </p>
    <!-- <img ></img> -->
    <!-- <div>
        <label> Archivo: </label>
        <input type="file"> <br>
    </div>
    <br><br><br>
    <p>  Ubicación de la vivienda </p>
    <br> -->
    <div>
        <input type="radio" formControlName="Ubicacion" name="Ubicacion" value="Ladera"> Ladera 
        <p>   La ladera es una pendiente de una montaña o elevación del terreno por cualquiera de sus lados </p>
        <!-- <img src="/front/src/assets/Ladera.png">   -->
        <br>
        <br><br><br><br><br>
        <input type="radio" formControlName="Ubicacion" name="Ubicacion" value="Valle"> Valle
        <p> El valle es un terreno llano de nivel más bajo que el que lo rodea.</p>
        <!-- <img src="/front/src/assets/">  -->
    </div>
    <br><br><br><br>
    <p>  Elementos cercanos a la vivienda </p>
    <div>
        <input type="radio" formControlName="Elementos" name="Elementos" value="Quebrada"> Quebrada <br>
        <input type="radio"formControlName="Elementos" name="Elementos" value="Valle"> Valle 
        <p> El valle es un terreno llano de nivel más bajo que el que lo rodea.</p>
        <!-- <img src="Valle.png"> <br><br><br> -->
        <input type="radio"formControlName="Elementos" name="Elementos" value="Montaña"> Montaña
    </div>
    <h1> Interior De La Vivienda </h1>
    <p> Las siguientes preguntas se deberán realizar en el interior de la vivienda para poder observar las características de las preguntas</p> 
    <br>
    <p>  Altura entre pisos (Distancia entre el piso y el techo) </p>
    <form>
        <input type="radio" name="Distancia">2 Metros<br>
        <input type="radio" name="Distancia">2.1 a 2.5 Metros<br>
        <input type="radio" name="Distancia">2.6 a 3 Metros<br>        
        <input type="radio" name="Distancia">Mas de 3 metros
    </form>
    <br><br>
    <p>  Material de construcción </p>
    <form>
        <input type="radio" name="material"> Mamopstería (construccion compuesta por ladrillos u otro material) <br>
        <img src="Mamposteria.png"><br><br>
        <p>  Tipo de mampostería </p>
    <form>
        <input type="radio" name="mampostería"> Reforzada (contiene acero al interior de la estructura) <br>
        <img src="Mamposteria reforzada.png"><br><br>
        <input type="radio" name="mampostería"> No reforzada (No contiene hierro al interior de la estructura, solo sería el adobe) <br>
        <input type="radio" name="mampostería"> Confinada (Muro el cual está encerrado alrededor por vigas y columnas) <br>
        <img src="Mamposteria confinada.png">
    </form><br><br><br>



        <input type="radio" name="material"> Concreto reforzado (construcción compuesta por concreto y acero) <br>
        <img src="Concreto reforzado.png"><br><br>
        <p>  Tipo de concreto  </p>
    <form>
        <input type="radio" name="concreto"> Muro estructural (muro el cual no se puede quitar ni modificar, ya que son muros que soportan la carga de la vivienda.) <br>
        <input type="radio" name="concreto"> Pórtico<br>
        <img src="Sistema en portico.png"><br>
        <input type="radio" name="concreto"> Sistema dual o combinado. (muros estructurales y pórticos (compuestos por vigas y columnas) <br>
        <input type="radio" name="concreto"> Prefabricado (construcción por secciones o módulos que fueron diseñadas con antelación por fuera de la construcción) <br>
        <img src="Prefabricado.png">
    </form>
    <br><br><br><br>



        <input type="radio" name="material"> Prefabricado (construcción por secciones o módulos que fueron diseñadas con antelación por fuera de la construcción) <br>
    <form>
        <p>  Tipo ed material prefabricado </p>
        <input type="radio" name="Prefabricado"> Yeso <br>
        <img src="Yeso.png"><br><br>
        <input type="radio" name="Prefabricado"> Madera <br>
        <img src="Madera.png"><br><br>
        <input type="radio" name="Prefabricado"> PVS <br>
        <img src="PVC.png"><br><br>
        <input type="radio" name="Prefabricado"> Drywall <br>
        <img src="Drywall.png"><br><br>
        <input type="radio" name="Prefabricado"> Fibrocemento <br>
        <img src="Fibrocemento.png"><br><br>
        <input class="controls" type="text" name="nombre 1" id="nombre1" placeholder="Otra">
    </form>
    <br><br><br><br>
    

        <input type="radio" name="material"> Acero <br>
        <input type="radio" name="material"> Madera <br>
        <input type="radio" name="material"> Adobe <br>
        <input type="radio" name="material"> Tapia (es un método de construcción que consiste en elaborar muros con tierra arcillosa húmeda, compactada a golpes con un pisón rellenando un encofrado con diferentes capas.) <br>
        <img src="Tapia.png"><br><br>
        <input type="radio" name="material"> Guadua <br>
        <input class="controls" type="text" name="nombre 1" id="nombre1" placeholder="Otra">
    </form>   
    <br><br> 
    
    
    
    <p>  Como se encuentra construido el piso ded la vivienda </p>
    <form>
        <input type="radio" name="suelo"> Losa de concreto aligerado. (conformada por concreto armado, estas se evidencian ya que forman una especie de cajón en el techo.) <br>
        <img src="Losa de concreto aligerado.png"><br><br>
        <input type="radio" name="suelo"> Losa de concreto maciza. (conformada por concreto y acero) <br>
        <img src="Losa de concreto maciza.png"><br><br>
        <input type="radio" name="suelo"> Vigas de madera <br>
        <img src="Viga ded madera.png"><br><br>
        <input type="radio" name="suelo"> Vigas de acero <br>
        <img src="Viga de acero.png"><br><br>
    </form>
    <br><br>
    <p> Tipo ded techo o cubierta </p>
    <form>
        <input type="radio" name="techo"> Losa de concreto aligerada. (conformada por concreto armado, estas se evidencian ya que forman una especie de cajón en el techo.) <br>
        <img src="Losa de concreto aligerado.png"><br><br>
        <input type="radio" name="techo"> Losa de concreto maciza. (conformada por concreto y acero) <br>
        <img src="Losa de concreto maciza.png"><br><br>
        <input type="radio" name="techo"> Zinc  <br>
        <img src="Teja en zinc.png"><br><br>
        <input type="radio" name="techo"> Termina en plancha <br>
        <img src="Termina en plancha.png"><br><br>
    </form> <br><br><br><br>
    
    <p>  Estado de daño de la edificacion </p>
    <form>
        <P> La edificación presenta asentamientos (Hundimientos) </P>
        <input type="radio" name="año"> Si <br>
        <input type="radio" name="año"> No
    </form>
    <br><br>
    <p>  Estado de daño de la edificacion </p>
    <form>
        <label> Lejana al hundimiento horizontal </label>
        <input type="file"><br><br>
        <label> Cercana con algún objeto con el que se pueda dimensionar. (ejemplo: un lápiz o cuaderno al lado del hundimiento) </label>
        <input type="file">
    </form>
    <br><br><br>
    <p>  Estado de daño de la edificacion </p>
    <br>
    <form>
        <label> Lejana a la grieta </label>
        <input type="file"><br><br><br>
        <label> Cercana con algún objeto con el que se pueda dimensionar. (ejemplo: un lápiz o cuaderno al lado de la grieta) </label>
        <input type="file">
    </form>

        <button type="submit"[disabled]="preguntasform.invalid">Enviar</button>
     </form>         
</div>